* {
    font-family: "Exo 2";
    margin: 0;
    padding: 0;
}

#refresh:hover {
    color: black !important;
}

#linkedin {
    color: #0072b1;
}

#github {
    color: #171515;
}

.profileImg {
    object-fit: contain;
}